body{
    margin: 200;
    padding: 0;
    /* il faut une image ici */
    background-image: "C:\Users\clair-emile\vsc\prediction\bg11.jpg"
    center/cover no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
#container{
    display: flex;
    flex-direction: row;
    
}
.bg-container{
    margin: 20px 0px;
    display: flex;
  flex-direction: column;  
    text-align: center;
    
    
}
.bg2{
     /* une image ici aussi */
    background-color: black;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    padding: 20px;
    width: 600px;
    margin: 0 20px;
    display: flex;
    flex-direction: row;
    
    
}
.fighter{
    border-radius: 10px;
    margin-bottom: 10px;
    width: 100%;
    height: auto;
}
.button{
    /* le bouton est laid en criss, mal positioner */
    border-radius: 10px;
    background-color: white;
    color: black;
    padding: 10px;
    cursor: pointer;
    width: 100%;
}
