body{
    margin: 200px;
    padding: 0px;
    background-image: url("C:\\Users\\clair-emile\\vsc\\prediction\\bg1.jpg");
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
#container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;   
}
.bg-container{
    margin: 20px 0px;
    
    justify-content: center;
  flex-direction: column;  
  align-items: center;
    
    
}
.bg2{
    background-image: url("C:\\Users\\clair-emile\\vsc\\prediction\\bg11.jpg");
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    padding: 20px;
    width: 600px;
    margin: 0 20px;
    display: flex;
    flex-direction: row;
   
    
    
}
.fighter{
    border-radius: 10px;
    margin-bottom: 10px;
    width: 100%;
    height: auto;
}
.button{
    /* le bouton est crissment laid */
    border-radius: 10px;
    background-color: white;
    color: black;
    padding: 30px;
    cursor: pointer;
    width: 200px;
    height: 50px;
}
